@media (width >= 1280px) {
  .container {
    max-height:600px;
    padding-bottom: 5px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
 
    top: 0;
    left: 0;
    z-index: 4;
    background-color: white;
    transition: ease-in-out 0.3s;
    margin-top: 80px;
    min-height: 15rem;
  }

  .container__hiidden {
    max-height:600px;
    position: absolute;
    width: 100%;
    top: -100vh;
    left: 0;
    z-index: 4;
    background-color: white;
    opacity: 96%;
    transition: ease-in-out 0.3s;
  }
}
@media (width >= 768px) {
  .container {
    max-height:600px;
    padding-bottom: 5px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
 
    top: 0;
    left: 0;
    z-index: 4;
    background-color: white;
    transition: ease-in-out 0.3s;
    margin-top: 80px;
    min-height: 15rem;
  }

  .container__hiidden {
    max-height:600px;
    position: absolute;
    width: 100%;
    top: -100vh;
    left: 0;
    z-index: 4;
    background-color: white;
    opacity: 96%;
    transition: ease-in-out 0.3s;
  }
}

@media (width < 768px) {
  .container {
    max-height:600px;
    padding-bottom: 5px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    overflow-y: scroll;
 
    top: 0;
    left: 0;
    z-index: 4;
    background-color: white;
    transition: ease-in-out 0.3s;
    margin-top: 80px;
    min-height: 15rem;
  }

  .container__hiidden {
    max-height:600px;
    position: absolute;
    width: 100%;
    top: -100vh;
    left: 0;
    z-index: 4;
    background-color: white;
    opacity: 96%;
    transition: ease-in-out 0.3s;
  }
}
